<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">Crowdfunder</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="<%= 'active' if current_page? root_path %>">
						<%= link_to 'Home', :root %>
					</li>
					<li class="<%= active_state %>">
						<%= link_to 'Projects', projects_path %>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>